# Android
.gradle/
build/
app/build/
local.properties

# Kotlin
.kotlin/

# Secrets & Local Memory
MEMORY.md
GEMINI.md
Architecture.md
CLAUDE.md
github_action_log.txt
github_logs.txt
cmdline-tools.zip
cmdline-tools/
gradle.zip
gradle-8.7/
*.apk
run_id.txt
